* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #EEEEEE;
}

.calculator {
  background-color: #222831;
  width: 450px;
  aspect-ratio: 9 / 9.8;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display {
  width: 400px;
  height: 60px;
  font-size: 45px;
  margin-top: 20px;
  padding-right: 10px;
  background-color: #393E46;
  color: #EEEEEE;
  border: none;
  border-radius: 5px;
  text-align: right;
}

.button-container {
  width: 91%;
  height: 330px;
  background-color: #393E46;
  margin-top: 40px;
  border-radius: 5px;
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.first-row {
  margin-top: 20px;
}